canvas {
    border: 2px solid #000;
}

body {
    text-align: center;
    
}

#cor1{
    background-color: rgb(222, 0, 0);
}

#cor2{
    background-color: rgb(0, 0, 0);
}

#cor3{
   
    background-color: rgb(3, 31, 135);
}

.cor{
    height: 20px;
    width: 20px;
}